<div class="container-fluid">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <h2 class="bg-primary text-center p25">Distance to the White House</h2>
      <table class="table table-striped">
      	<thead>
      		<tr>
  				<th>Address</th>
  				<th>Distance (mi.)</th>
      		</tr>
      	</thead>
      	<tbody>
      		<% @results.each do |val| %>
      		<tr>
      			<td><%= val.full_address %></td>
      			<td><%= val.distance %></td>
      		</tr>
      		<% end %>
      	</tbody>
      </table>
    </div>
  </div>
</div>
